html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav { float: right} 

nav li { display: inline-block}

a { 
  display: block;
  padding: 20px;
}

body {
  line-height: 1.5;
  width: 900px;
  margin: 0 auto;
}

aside {
  width: 180px;
  font-size: 15px;
  float: left;
  margin-right: 15px;
}

aside li {
  margin-top: 15px;
  margin-bottom: 15px;
}

body > section:first-of-type {
  width: 700px;
  float: right;
}

body ol li {
  margin-top: 15px;
  margin-bottom: 15px;
}

section.clearfix {
  overflow: auto;
}

section#reviews{
  float: left;
  margin: 5px;
}

input {
  display: block;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

label[for="rating"], label[for="expertise"] {
  display: none;
}

textarea {
  display: block;
  width: 300px;
}

select {
  margin: 25px;
  width: 200px;
  display: block;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}


